.login-flex {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.login-container {
  background: white;
  padding: 3rem;
  position: relative;
  max-width: 40rem;
  margin: 0 auto;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.3);
  border-radius: 1rem;
  position: relative;
}

.register-h1 {
  text-align: center;
  margin: 1.5rem;
}

.register-btn {
  width: 8rem;
  height: 4rem;
  margin-left: 12.5rem;
  margin-top: 1rem;
  background-color: var(--primary);
  border-radius: 1rem;
  color: var(--white);
  font-size: 1.5rem;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.register-btn:hover {
  background: #010168;
  transform: scale(1.02);
}

@media (max-width: 410px) {
  .login-container {
    max-width: 35rem;
  }
}


