.image-source-explanation {
  position: absolute;
  cursor: pointer;
  font-size: 2rem;
  color: var(--primary);
  right: 3.5rem;
  bottom: 17.3rem;
}

@media (max-width: 410px) {

  .image-source-explanation {
    right: 2rem;
  }

}
