.input {
  width: 30rem;
  height: 4rem;
  margin: 1.5rem;
  margin-top: 3rem;
  padding: 0.5rem;
  border: 1px solid #E2E8F0;
  font-size: 1.5rem;
  border-radius: 1.5rem;
  background: linear-gradient(0deg, #FFFFFF, #FFFFFF), linear-gradient(0deg, #E2E8F0, #E2E8F0);
  padding-left: 2rem;
  color:#2D3748;
}

.input:disabled {
  border: 1px solid #E2E8F0
}

.input-div {
  position: relative;
}

.input::placeholder {
  color: #A0AEC0;
}

.input-p {
  position: absolute;
  bottom: 2.4rem;
  left: 3rem;
  font-size: 1.4rem;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  pointer-events: none;
  padding: 0.2rem;
  transition: all 0.2s ease-in-out;
}

.input:focus {
  border: 0.1rem solid #c9cfd6;
}

.error-p {
  position: absolute;
  color: rgb(197, 4, 4);
  font-size: 1.3rem;
  left: 1.8rem;
  bottom: -0.2rem;
}

.input-title-p {
  position: absolute;
  font-size: 1.4rem;
  font-weight: 400;
  color: #2D3748;
  margin-left: 1.5rem;
  top: 0.7rem;
}

@media (max-width: 410px) {

  .input {
    width: 26.5rem;
  }

}

@media (max-width: 1500px) {

  .input {
    width: 27.5rem;
  }

}