.container {
  max-width: 100rem;
  min-height: 100vh;
  background: #f7f7f7;
  margin: 0 auto;
  padding: 3rem;
  top: 10rem;
  box-shadow: 0 0 2rem rgba(0, 0, 0, 0.3);
  margin-top: 3rem;
}

.books {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(23rem, 1fr));
  gap: 3rem;
  margin-top: 13rem;
}

.advertisement-books {
  margin-top: 20rem
}

.empty-div {
  position: absolute;
  color: var(--primary);
  font-size: 2rem;
  left: calc(46.5vw - 9rem);
  top: 45rem;
}

.loading-div {
  position: absolute;
  color: var(--primary);
  font-size: 2.8rem;
  left: calc(50vw - 6.1rem);
  top: 40rem;
}

.trash {
  font-size: 2rem;
  text-align: center;
  color: rgb(134, 2, 2);
  cursor: pointer;
}

table {
  width: 80rem;
  border-collapse: collapse;
  margin-top: 20px;
  margin-left: 6rem;
}

th, td {
  width: 10rem;
  padding: 0.6rem;
  text-align: center;
}

th {
  width: 10rem;
  font-size: 1.6rem;
  padding-left: 2rem;
  padding-right: 2rem;
  color: var(--white);
  background: rgb(21, 21, 138);
}

td {
  font-size: 1.3rem;
}

tr {
  height: 3rem;
  border: 1px solid #a9b3c7;

}






