.cart-container-div {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  background-color: var(--white);
  margin-top: 1.5rem;
  border-radius: 1rem;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
}

.cart-img {
  width: 100%;
  height: 100%;
}

.cart-div-img {
  width: 13rem;
  height: 17rem;
  padding: 1rem;
}

.cart-data {
  width: 25rem;
}

.cart-name {
  padding-top: 2rem;
  font-size: 1.8rem;
  color: var(--black);
}

.cart-name-container {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  -moz-line-clamp: 2;
  line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 7rem;
}

.cart-price {
  padding-top: 1rem;
  font-size: 2.2rem;
  color: rgb(192, 168, 31);
}

.cart-remove {
  margin-top: 2.5rem;
  width: 8rem;
  height: 3rem;
  border-radius: 1rem;
  background-color: rgb(109, 1, 1);
  color: var(--white);
  font-size: 1.4rem;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  margin-bottom: 1.5rem;
  border: none;
}

.cart-remove:hover {
  background-color: rgb(126, 1, 1);
}

@media (max-width: 660px) {
  .cart-div-img {
    width: 12rem;
    height: 15rem;
    padding: 1rem;
  }

  .cart-name {
    font-size: 1.5rem;
  }

  .cart-price {
    font-size: 2rem;
  }

  .cart-remove {
    width: 6rem;
    height: 2.7rem;
    font-size: 1.1rem;
  }

  .cart-data {
    width: 20rem;
  }


}
