.book-page-section {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.book-page-div {
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  padding: 2rem;
  position: relative;
  top: 4rem;
  background-color: white;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
  border-radius: 1rem;
  display: flex;
  flex-direction: row;
}

.book-page-img {
  width: 100%;
  height: 100%;
}

.image-div {
  width: 40rem;
  height: 55rem;
  margin: 0 auto;
  padding: 2rem;
}

.book-data {
  width: 33rem;
}

.book-page-name {
  padding-top: 2rem;
  font-size: 2.5rem;
  color: var(--black);
  width: 100%;
}

.book-page-description {
  font-size: 1.3rem;
  color: var(--black);
  margin-top: 3rem;
  overflow-y: scroll;
  max-height: 25rem;
  overflow: auto;
}

.book-page-price {
  position: absolute;
  font-size: 3rem;
  color: rgb(192, 168, 31);
  bottom: 10rem;
}

.cart-btn {
  margin-top: 1.5rem;
  margin-left: 15rem;
  width: 30rem;
  height: 5rem;
  font-size: 1.8rem;
  background-color: rgb(179, 157, 28);
  color: white;
  border-radius: 1rem;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  border: none;
  position: absolute;
  bottom: 4rem;
  right: 3rem;
}

.cart-btn:hover {
  transform: scale(1.02);
  background-color: #010168;
}


@media (max-height: 900px) {
  .image-div {
    width: 30rem;
    height: 45rem;
  }

  .book-page-separator {
    width: 46rem;
  }

  .book-data {
    max-width: 40rem;
  }

  .cart-btn {
    margin-left: 12.5rem;
  }
}

@media (max-width: 500px) {
  .book-data {
    max-width: 30rem;
  }

  .book-page-name {
    padding-top: 2rem;
    font-size: 2rem;
  }

  .book-page-price {
    padding-top: 1rem;
    font-size: 2rem;
  }

  .cart-btn {
    margin-left: 7rem;
  }

  .book-page-separator {
    width: 36rem;
  }
}
