.book-page-section {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.book-page-div {
  transition: all 0.2s ease-in-out;
  padding: 2rem;
  position: relative;
  top: 4rem;
  background-color: white;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
  border-radius: 1rem;
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.book-page-img {
  width: 100%;
  height: 100%;
}

.image-div {
  width: 40rem;
  height: 55rem;
  margin: 0 auto;
  padding: 2rem;
}

.book-data {
  width: 33rem;
}

.book-page-name {
  padding-top: 2rem;
  font-size: 2.5rem;
  color: var(--black);
  width: 100%;
}

.book-page-description {
  font-size: 1.3rem;
  color: var(--black);
  margin-top: 3rem;
  overflow-y: scroll;
  max-height: 25rem;
  overflow: auto;
}

.book-page-price {
  margin-top: 3rem;
  font-size: 3.3rem;
  color: rgb(192, 168, 31);
}

.cart-btn {
  width: 30rem;
  height: 5rem;
  font-size: 1.8rem;
  background-color: rgb(179, 157, 28);
  color: white;
  border-radius: 1rem;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  border: none;
  position: absolute;
  bottom: 4rem;
  right: 3rem;
}

.cart-btn:hover {
  transform: scale(1.02);
  background-color: rgb(188, 164, 30);
}

.book-edit-btn {
  width: 15rem;
  height: 4.5rem;
  font-size: 1.7rem;
  background-color: rgb(179, 157, 28);
  color: white;
  border-radius: 1rem;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  border: none;
  position: absolute;
  bottom: 4rem;
  right: 20rem;
}

.book-edit-btn:hover {
  transform: scale(1.02);
  background-color: rgb(186, 162, 31);
}

.book-delete-btn {
  width: 15rem;
  height: 4.5rem;
  font-size: 1.7rem;
  background-color: rgb(109, 1, 1);
  color: white;
  border-radius: 1rem;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  border: none;
  position: absolute;
  bottom: 4rem;
  right: 3rem;
}

.book-delete-btn:hover {
  transform: scale(1.02);
  background-color: rgb(118, 1, 1);
}

.book-page-name-mobile {
  padding-top: 2rem;
  font-size: 2.5rem;
  color: var(--black);
  width: 100%;
  display: none;
  width: 33rem;
  text-align: center;
}

@media (max-width: 850px) {

  .book-page-div {
    flex-direction: column;
    top: 13rem;
    align-items: center;
  }

  .book-page-name {
    display: none;
  }

  .book-page-name-mobile {
    display: block;
  }

  .book-page-price {
    margin-bottom: 11rem;
  }

  .cart-btn {
    right: 7rem;
  }

}

@media (max-width: 550px) {

  .book-page-name-mobile {
    font-size: 2rem;
    width: 25rem;
  }

  .image-div {
    width: 32rem;
    height: 43rem;
  }

  .book-page-description {
    font-size: 1.3rem;
  }

  .book-data {
    width: 28rem;
  }

  .book-page-div {
    padding: 1rem;
  }

  .book-page-price {
    font-size: 2.5rem;
  }

  .cart-btn {
    width: 20rem;
  }

}

