.create-flex {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.create-container {
  background: white;
  padding: 3rem;
  position: relative;
  margin: 0 auto;
  box-shadow: 0px 7px 23px 0px #0000000D;
  border-radius: 1.5rem;
  max-height: 85%;
  width: 73rem;
}

.register-h1 {
  font-size: 1.8rem;
  color: #2D3748;
  text-align: center;
  margin: 1.5rem;
}

@media (max-width: 1500px) {
  .create-container {
    padding: 2rem;
    width: 69rem;
  }
}

@media (max-width:  1050px) {
}

@media (max-width: 750px) {
  .create-flex {
    flex-direction: column;
  }

  .create-container {
    padding: 1.5rem;
    position: static;
    max-height: 85rem;
    width: 36rem;
    margin-top: 30rem;
  }

  .register-h1 {
    margin: 0.5rem;
  }
}



