.form-loading {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  margin-top: 1rem;
}

.form-loading::after {
  content: '';
  width: 4.4rem;
  height: 4.4rem;
  box-shadow: 0rem 0.25rem 0.1rem var(--primary);
  border-radius: 50%;
  animation: form-loading 1s linear infinite;
}

@keyframes form-loading {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
