.popup {
  height: 100vh;
  width: 100%;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.2);
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup-inner {
  width: 50rem;
  background-color: var(--white);
  padding: 2rem;
  text-align: center;
  border-radius: 1.5rem;
  animation: pop-up 0.2s ease-in-out forwards;
}

@keyframes pop-up {
  100% {
    transform: scale(1.1);
  }
}

.popup-title {
  font-size: 2rem;
  margin-bottom: 4rem;
}

.popup-content {
  font-size: 1.5rem;
  margin-bottom: 3rem;
  padding: 1rem
}

.popup-btn {
  background-color: var(--primary);
  color: var(--white);
  padding: 0.8rem;
  font-size: 1.5rem;
  border-radius: 1rem;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  border: none;
}

.popup-btn:hover {
  background: #010168;
}

@media (max-width: 450px) {

  .popup-title {
    font-size: 1.7rem;
  }

  .popup-content {
    font-size: 1.4rem;
    margin-bottom: 3rem;
    padding: 1rem
  }

  .popup-btn {
    font-size: 1.4rem;
  }

}
