.create-div-input {
  position: absolute;
  top: 8.1rem;
  left: 37rem;
}

@media (max-width: 1500px) {
  .create-div-input {
    top: 7.1rem;
  }
}

@media (max-width: 750px) {
  .create-div-input {
    position: relative;
    top: 0;
    left: 0;
  }
}