html {
  font-size: 62.5%;
}

:root {
  --primary: #02026e;
  --secondary:#c89a13;
  --black: #102530;
  --white: #ECE9EA;
  --lighter_blue: #2626ae;
  --lighter_yellow: #cda429;
  --primary_hover: #01018a;
  --light_gray: rgb(248, 249, 250)
  --gray: rgb(160, 174, 192)
  --green: rgb(104, 211, 145)
  --dark_gray: rgb(45, 55, 72)
  --lighter_gray: rgb(226, 232, 240)
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #d2d8e9;
}

*:focus {
  outline: none;
}
