.search-div {
  display: flex;
  position: absolute;
  top: 21rem;
  left: calc(50vw - 13.5rem);
}

.advertisement-search-div {
  top: 28.5rem;
}

.search-input {
  padding: 0.5rem;
  font-size: 1.7rem;
  border: 0.1rem solid var(--primary);
  font-family: Helvetica, sans-serif;
  background: linear-gradient(to right, var(--white) 0%, var(--white), white 1%, white 100%);
  background-size: 100% 100%;
  transition: background-size 0.5s ease-in-out;
}

.search-btn {
  height: 3.3rem;
  background-color: #01018a;
  color: var(--white);
  width: 7rem;
  border: none;
  font-size: 1.6rem;
  cursor: pointer;
}

.search-btn:hover {
  background-color: #010197;
}

.search-btn:disabled {
  background-color: gray;
  cursor: default;
}


@media (max-width: 800px) {

  .search-div {
    top: 21rem;
    left: calc(50vw - 12rem);
  }

  .advertisement-search-div {
    top: 28rem;
  }

  .search-input {
    padding: 0.4rem;
    font-size: 1.6rem;
  }

  .search-btn {
    height: 3.1rem;
    width: 6.8rem;
    font-size: 1.5rem;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
  }

}