.dashboard {
  position: absolute;
  left: 31rem;
  top: 5.5rem;
  z-index: 0;
}

.dashboard-name {
  position: absolute;
  left: 2rem;
  font-size: 1.4rem;
  font-weight: 700;
  color: #2D3748;
}

.dashboard-info {
  width: 38rem;
  height: 8rem;
  background-color: white;
  border-radius: 1.5rem;
  position: absolute;
  top: 5rem;
  box-shadow: 0px 3.500000238418579px 5.500000476837158px 0px #00000005;
}

.info-texts {
  margin-left: 2rem;
  margin-top: 1.8rem;
}

.info-name {
  font-size: 1.2rem;
  font-weight: 700;
  color: #A0AEC0;
}

.info-info {
  margin-top: 0.5rem;
  font-size: 1.8rem;
  font-weight: 700;
  color: #2D3748;
}

.info-icon {
  position: absolute;
  font-size: 2.25rem;
  padding: 1.2rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  background-color: var(--primary);
  border-radius: 1.2rem;
  color: white;
  top: 1.7rem;
  right: 2rem;
  box-shadow: 0px 3.500000238418579px 5.500000476837158px 0px #00000005;
}

.table-div {
  background-color: white;
  box-shadow: 0px 3.500000238418579px 5.500000476837158px 0px #00000005;
  position: absolute;
  top: 16.5rem;
  border-radius: 1.5rem;
  width: 110rem;
  height: 53rem;
}

.table-name {
  font-size: 1.8rem;
  font-weight: 700;
  color: #2D3748;
  margin-left: 2.3rem;
  margin-top: 3rem;
}

table {
  width: 95%;
  border-collapse: collapse;
  margin-top: 1rem;
  margin-left: 2rem;
  margin-right: 2rem;
  margin-bottom: 2rem;
}
th, td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #E2E8F0;
  margin-left: 2rem;
}

td {
  font-size: 1.2rem;
  font-weight: 700;
  color: #2D3748;
}

th {
  font-size: 1rem;
  font-weight: 700;
  color: #A0AEC0;
}

.remove {
  text-align: right;
  font-size: 1.1rem;
  font-weight: 700;
  color: #718096;
  cursor: pointer;
}

.remove:hover {
  color: rgb(84, 95, 112);
}

.yellow-circle {
  width: 0.8rem;
  height: 0.8rem;
  border-radius: 50%;
  background-color: #d3c368;
  position: absolute;
  left: 2.6rem;
  margin-top: 1.2rem;
}

.green-circle {
  width: 0.8rem;
  height: 0.8rem;
  border-radius: 50%;
  background-color: #68D391;
  position: absolute;
  left: 2.6rem;
  margin-top: 1.2rem;
}

.padding-left {
  padding-left: 2rem;
}

.table-btn {
  padding: 0px, 8px, 0px, 8px;
  border-radius: 1.2rem;
  background-color: var(--primary);
  font-size: 1rem;
  color: white;
  font-weight: 700;
  width: 15rem;
  height: 3.5rem;
  text-align: center;
  border: none;
  cursor: pointer;
  margin-left: 2.3rem;
  margin-top: 1rem;
}

.table-btn:hover {
  background-color: var(--primary_hover);
}

.plus-icon {
  font-size: 2rem;
  color: var(--primary);
  position: absolute;
  text-decoration: none;
  top: 3.1rem;
  left: 12.5rem
}

.plus-icon:hover {
  color: var(--primary_hover);
}

.empty-div {
  color: #2D3748;
  margin-top: 2rem;
  font-size: 1.4rem;
  font-weight: 700;
}

.pagination-div {
  position: absolute;
  margin-left: 49rem;
  top: 48.5rem;
}

.backwards-page {
  position: absolute;
  font-size: 1.2rem;
  color: #2D3748;
  cursor: pointer;
  border: 1px solid #E2E8F0;
  border-radius: 1.5rem;
  padding: 0.7rem;
  padding-left: 0.9rem;
  padding-right: 0.9rem;
}

.backwards-page-disabled {
  position: absolute;
  font-size: 1.2rem;
  color: #2d37488c;
  border: 1px solid #e2e8f098;
  border-radius: 1.5rem;
  padding: 0.7rem;
  padding-left: 0.9rem;
  padding-right: 0.9rem;
}

.backwards-page:hover {
  background-color: rgb(248, 248, 248);
}

.forward-page:hover {
  background-color: rgb(248, 248, 248);
}

.current-page {
  position: absolute;
  font-size: 1.7rem;
  margin-left: 4rem;
  color: #2D3748;
  font-weight: 700;
  padding: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

.forward-page {
  position: absolute;
  font-size: 1.2rem;
  margin-left: 8.2rem;
  color: #2D3748;
  cursor: pointer;
  border: 1px solid #E2E8F0;
  border-radius: 1.5rem;
  padding: 0.7rem;
  padding-left: 0.9rem;
  padding-right: 0.9rem;
}

.forward-page-disabled {
  position: absolute;
  font-size: 1.2rem;
  margin-left: 8.2rem;
  color: #2d37488c;
  border: 1px solid #e2e8f098;
  border-radius: 1.5rem;
  padding: 0.7rem;
  padding-left: 0.9rem;
  padding-right: 0.9rem;
}

@media (max-width: 1450px) {
  .table-div {
    top: 15rem;
    width: 90rem;
    height: 52.5rem;
  }

  .pagination-div {
    margin-left: 40rem;
    top: 48rem;
  }

  .dashboard {
    left: 28rem;
    top: 4.7rem;
    z-index: 0;
  }
}