.plans-div {
  height: 40rem;
  width: 100rem;
  background-color: white;
  box-shadow: 0px 1.9999998807907104px 5.499999523162842px 0px #00000005;
  border-radius: 1.5rem;
  margin-left: 30rem;
  margin-top: 3.5rem;
}

.plans-name {
  margin-left: 33rem;
  margin-top: 5.5rem;
  font-size: 1.4rem;
  font-weight: 700;
  color: #2D3748;
}

.plans-div-name {
  font-size: 1.6rem;
  font-weight: 700;
  color: #2D3748;
  position: absolute;
  margin-top: 4rem;
  margin-left: 2.8rem;
}

.plans-topic-name {
  color: #718096;
  font-size: 1.2rem;
  font-weight: 700;
  margin-top: 1.3rem;
}

.plans-topic-info {
  font-size: 1.2rem;
  font-weight: 400;
  color: #A0AEC0;
  padding-left: 0.5rem;
}

.plans-topic {
  position: absolute;
  margin-top: 8rem;
  margin-left: 2.5rem;
  width: 45rem;
  height: 50rem;
}

.plans-btn {
  text-decoration: none;
  font-size: 1rem;
  color: white;
  font-weight: 700;
  background: linear-gradient(81.62deg, #313860 2.25%, #151928 79.87%);
  border-radius: 3.5rem;
  padding-left: 5rem;
  padding-right: 14rem;
  padding-top: 1.2rem;
  padding-bottom: 1.2rem;
  width: 10rem;
  margin-left: 2.8rem;
  position: absolute;
  top: 40rem;
  text-align: center;
  white-space: nowrap;
}

.plans-btn:hover {
  background: linear-gradient(140.62deg, #313860 20.25%, #151928 79.87%);
}

.qr-code {
  margin-top: 10rem;
  margin-left: 70rem;
}

@media (max-width: 1450px) {
  .plans-div {
    height: 40rem;
    width: 80rem;
    margin-left: 30rem;
    margin-top: 3.5rem;
  }

  .qr-code {
    margin-top: 12rem;
    margin-left: 50rem;
    width: 170px;
    height: 170px;
  }
}


@media (max-width: 850px) {
  .plans-div {
    margin-left: 1.5rem;
    width: 36rem;
    height: 50rem;
  }

  .plans-name {
    margin-top: 5.5rem;
    margin-left: 8rem
  }

  .plans-div-name {
    margin-left: 1.8rem;
  }

  .plans-btn {
    top: 32rem;
    margin-left: 8rem;
  }

  .qr-code {
    margin-top: 30rem;
    margin-left: 10rem;
    width: 150px;
    height: 150px;
  }
}