.login-link {
  font-weight: 700;
  font-size: 1.4rem;
  color: #718096;
  position: absolute;
  right: 3.1rem;
  top: 1.8rem;
  cursor: pointer;
  padding: 0.7rem;
  padding-left: 3rem;
  padding-right: 0.9rem;
  border-radius: 1rem;
}

.user-icon {
  font-weight: 700;
  font-size: 1.4rem;
  color: #718096;
  position: absolute;
  right: 8.7rem;
  top: 2.6rem;
  cursor: pointer;
}

.bracket-icon {
  font-weight: 700;
  font-size: 1.4rem;
  color: #718096;
  position: absolute;
  right: 7.2rem;
  top: 2.66rem;
  cursor: pointer;
}

.login-link:hover {
  background-color: rgba(201, 201, 201, 0.13);
}

.z-index-5 {
  z-index: 5;
}


@media (max-width: 850px) {
  .z-index-5 {
    display: none;
  }
}