.container {
  max-width: 100rem;
  min-height: 100vh;
  background: white;
  margin: 0 auto;
  padding: 3rem;
  top: 10rem;
  position: relative;
  box-shadow: 0 0 2rem rgba(0, 0, 0, 0.3);
}

.books {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(23rem, 1fr));
  gap: 3rem;
}




