.form-btn {
  width: 20rem;
  height: 4.5rem;
  margin-left: 6.5rem;
  margin-top: 1rem;
  background-color: #4f4fdb;
  border-radius: 1.2rem;
  color: white;
  font-size: 1rem;
  font-weight: 700;
  cursor: pointer;
  border: none;
}

.form-btn:hover {
  background: #5656dd;
}

.form-btn:disabled {
  background-color: gray;
  cursor: default;
}

@media (max-width: 410px) {

  .form-btn {
    margin-left: 10.5rem;
  }

}
