.input-div {
  position: relative;
}

.error-p {
  position: absolute;
  color: rgb(197, 4, 4);
  font-size: 1.3rem;
  left: 1.8rem;
  bottom: -0.2rem;
}

.unit-div {
  position: absolute;
  margin-left: 2rem;
  bottom: 5.5rem;
  font-size: 1.5rem;
}

.input-select-title {
  position: absolute;
  font-size: 1.4rem;
  font-weight: 400;
  color: #2D3748;
  margin-left: 7rem;
  bottom: 21rem;
}

nav{
  width: fit-content;
  border: 1px solid #E2E8F0;
  border-radius: 1rem;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  flex-wrap: no-wrap;
  margin-left: 6.5rem;
  margin-bottom: 0.5rem;
  margin-top: 2rem;
}

nav input{ display: none; }

nav label{
  padding: 9px 14px;
  border-right: 1px solid #E2E8F0;
  cursor: pointer;
  transition: all 0.0s;
  font-size: 1.4rem;
  font-weight: 400;
  color: #8894a3;
}
nav label:last-of-type{ border-right: 0; }
nav label:hover{
  background: #eee;
}
nav input:checked + label{
  background: var(--primary);
  color: white
}

.error-p-select {
  position: absolute;
  color: rgb(197, 4, 4);
  font-size: 1.3rem;
  margin-left: 7.5rem;
}